# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
.vite/

# Environment files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
*.js.map

# Logs
*.log
logs/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
.claude

# Prisma
/backend/prisma/migrations/*.sql.bak

# Playwright MCP
.playwright-mcp/

# E2E
e2e/.env.local
e2e/cypress/screenshots
e2e/cypress/videos

